<<<<<<< HEAD

:root {
    --couleur1: #131313ff; 
    --couleur2: #ffffff; 
=======
:root {
    --couleur1: #131313ff;
    --couleur2: #ffffff;
>>>>>>> main
}

#margeForm {
    display: flex;
<<<<<<< HEAD
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    min-height: 100vh;       /* prend toute la hauteur de la fenêtre */   
}

#genre {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 3 colonnes égales */
  gap: 10px; /* espace entre les cases */
}

.genre-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


h1, h2, h3, h4, h5, h6, p, label, a {
    color: var(--couleur1);
    
}
=======
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
}

#sun{
    font-size: 35px;
    cursor: pointer;
    margin-left: 10px;
    color: var(--couleur1);
}
#genre {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: left;
    font-size: 1em;
    column-gap: 0.4em;
    row-gap: 0.1em;
}
#searchInput {
    width: 300px;
}

@media (max-width: 800px) {
  #genre {
    grid-template-columns: repeat(2, 1fr);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
    color: var(--couleur1);
}

>>>>>>> main
body {
    background-color: var(--couleur2);
}

.darkmode {
    background-color: var(--couleur2);
    color: var(--couleur1);
}
<<<<<<< HEAD
.navbar, .navbar-expand-lg, .bg-body-tertiary, h1 {
=======

.navbar,
.navbar-expand-lg,
.bg-body-tertiary,
h1 {
>>>>>>> main
    background-color: var(--couleur2);
    margin: 0;
    padding: 0.5rem 1rem;
}

.navdarkmode {
    background-color: var(--couleur2);
    color: var(--couleur1);
}

hr {
    border: 1px solid var(--couleur1);
    margin-top: 0;
    margin-bottom: 1rem;
}


.text-blanc {
    color: var(--couleur2);
}

<<<<<<< HEAD
.btn, .btn-primary {
    margin-left: 5px;
    margin-right: 5px;
}
.margenavtop {
    margin-top: 10px ;
=======
.btn,
.btn-primary {
    margin-left : 1em;
    margin-right : 1em;
}

.btnForm {
    margin: 1em;
}

.margenavtop {
    margin-top: 0.6em;
>>>>>>> main
}